.backingButton {
  background-color: #009E74;
}

.fundingTracker {
  color: #009E74;
}

.pledgedAmount {
  color: #009E74;
}

.goalAmount{
  color: #009E74;
}

.backers {
  color: #666;
}

.deadline {
  color: #0F0;
}

.remaining {
  color: #009E74;
}

.units {
  color: #0F9074;
}