.backingButton {
  background-color: #009E74;
  color: #FFF;
}

.fundingTracker {
  background-color: #FBFBFA;
}

.pledgedAmount {
  color: #009E74;
}

.goalAmount{
  color: #656969;
}

.backers {
  color: #000;
}

.deadline {
  color: #0F0;
}

.remaining {
  color: #000;
}

.units {
  color: #656969;
}